/* RESPONSIVE */
@media (max-width: 1000px) {
	.header {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.nav {
		width: 80%;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}

	.nav img {
		margin-left: 0;
		width: 150px;
		height: 90px;
		transform: rotate(2deg);
	}

	.nav ul {
		width: 50%;
		justify-content: space-evenly;
	}

	a,
	.quote {
		font-size: 22px;
	}

	.main {
		width: 80%;
	}

	/* jaise hi width 850 se kam aae to font-size vgaira kam kr dena*/

	.discription {
		width: 100%;
		flex-direction: column;
		gap: 6rem;
		margin-bottom: 9rem;
	}

	.heading-and-paragraph {
		width: 100%;
		line-height: 70px;
		text-align: justify;
	}

	.image {
		width: 800px;
		height: 500px;
		border-radius: 10px;
	}

	.content-container {
		gap: 7rem;
	}

	.whole-content {
		width: 100%;
		gap: 13px;
	}

	.date,
	.author-name {
		color: #acbaad;
		font-size: 2.5rem;
	}

	.title {
		font-size: 2rem;
	}

	.content-paragraph {
		font-size: 22px;
	}
}